.blog__title,
.blog__all-details {
  border: 1px solid purple;
  margin: 2px;
  padding: 2px;
}

.blog__all-details {
  display: flex;
  flex-direction: column;
}

.blog__remove-button {
  width: 25%;
  background: rgb(100, 0, 0);
  color: white;
  cursor: pointer;
}